$primary-color: #08070b;
$secondary-color:  #bdc3c7;
$third-color:  oklch(0.922 0 0);
$quarter-color: oklch(0.87 0 0);
$quint-color: oklch(0.985 0 0);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Poppins', sans-serif;
}

.layout-container {
  display: flex; /* Coloca o menu ao lado do conteúdo */
  min-height: 100vh; /* Garante que o container ocupe a altura toda da tela */
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px; /* Largura fixa do menu */
//   background-color: $primary-color;
  color: white;
  padding: 20px 0px 20px 20px;
  position: sticky; top: 0; height: 100vh; 
    nav ul {
        display: flex;
        flex-direction: column; /* AQUI está a chave da mudança interna */
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #bdc3c7;
        font-size: 16px;
        display: block; /* Para aumentar a área clicável */
        padding: 10px;
        transition: 0.3s;
        border-right: 1px solid transparent;
        &:hover{
            border-right: 1px solid $quint-color;
            color: $quint-color;
        }
    }
    nav{
        border-left: 1px solid $secondary-color;
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o main tenha a altura da tela */
  flex: 1;

  .section-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // Centraliza o conteúdo principal verticalmente
    flex: 1; // ESSA LINHA É A CHAVE: ela faz o conteúdo crescer e empurrar o footer
    width: auto;
    padding: 15px;
    gap: 10px;
    .div-texto{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-end;
        // border: 1px solid white;
    }
    h2{
        font-size: 18px;
        font-weight: normal;
        color: $third-color;
        text-align: right;
        width: 70%;
    }
    .div-texto p{
        font-weight: bold;
        font-family: "Shadows Into Light Two", cursive;
        font-size: 20px;
        margin-top: 40px;
        color: #c58106;
    }
  }

  .classfooter-developer {
    width: 100%;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    /* bottom: 0;  <- Pode remover isso, o flex-grow do item acima já resolve */
    
    a {
      font-size: 14px;
      color:$third-color; // Apenas para garantir visibilidade no fundo aliceblue
      text-decoration: none;
      transition: 0.2s ease-in-out;
    }
    &:hover{
        opacity: 70%;
        color: $secondary-color;
        transition: 0.2s ease-in-out;
    }
  }
}

body{
    background: $primary-color;
    background: #222233;
    background: radial-gradient(circle,rgba(34, 34, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

h1{
    font-family: "Limelight", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: $quint-color;
}

