$primary-color: #08070b;
$secondary-color:  #bdc3c7;
$third-color:  oklch(0.922 0 0);
$quarter-color: oklch(0.87 0 0);
$quint-color: oklch(0.985 0 0);
$sixth-color:#c58106;

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Poppins', sans-serif;
}

.layout-container {
  display: flex; /* Coloca o menu ao lado do conteúdo */
  min-height: 100vh; /* Garante que o container ocupe a altura toda da tela */
}

body{
    background: $primary-color;
    background: #222233;
    background: radial-gradient(circle,rgba(34, 34, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

h1{
    font-family: "Limelight", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: $quint-color;
}

.layout-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    width: 250px;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    
    nav {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
        }
    }

    a {
        text-decoration: none;
        color: #bdc3c7;
        font-size: 16px;
        display: block;
        padding: 10px;
        transition: 0.3s;
        border-right: 1px solid transparent;

        &:hover, &.active { // Adicionei .active aqui também para estilizar o menu selecionado
            border-right: 1px solid $quint-color;
            color: $quint-color;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;

    // LÓGICA DAS ABAS AQUI
    .tab-content {
        display: none; // Esconde tudo por padrão
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: auto;
        padding: 15px;
        gap: 10px;

        // Quando tiver a classe active, aparece e anima
        &.active {
            display: flex;
            animation: slideDown 0.6s ease forwards;
        }

        .div-texto {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            p {
                font-weight: bold;
                font-family: "Shadows Into Light Two", cursive;
                font-size: 24px;
                margin-top: 40px;
                color: $sixth-color;
            }
          h1{
              font-family: "Limelight", sans-serif;
              font-weight: 900;
              font-size: 52px;
              color: $quint-color;
          }
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: $third-color;
            text-align: right;
            width: 70%;
        }
    }

  #sobre{
    .div-texto{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .div-texo-sobre{
      width: 40%;
      display: flex;
      flex-direction: column;
      // background-color:oklch(0.145 0 0);
      // padding: 20px;
      border-radius: 10px;
    }
    h2{
      display: flex;
      font-size: 36px;
      font-family: "Limelight", sans-serif;
      color: $quint-color;
    }
    p{
      font-family: 'Inter', sans-serif;
      text-align: justify;
      color: $quint-color;
      font-weight: normal;
      margin-top: 20px;
    }

    .foto-perfil{
    width: 550px;
    height: 550px;
    object-fit: cover; /* Garante que a foto não distorça */
    /* A mágica acontece aqui */
    -webkit-mask-image: url('../assets/images/blob.svg');  /* Para Chrome/Safari/Edge */
    mask-image: url('../assets/images/blob.svg');          /* Padrão */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain; /* Ajusta o SVG ao tamanho da img */
    mask-size: contain;
    
} 
  }

  .classfooter-developer {
    width: 100%;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    /* bottom: 0;  <- Pode remover isso, o flex-grow do item acima já resolve */
    
    a {
      font-size: 14px;
      color:$third-color; // Apenas para garantir visibilidade no fundo aliceblue
      text-decoration: none;
      transition: 0.2s ease-in-out;
    }
    &:hover{
        opacity: 70%;
        color: $secondary-color;
        transition: 0.2s ease-in-out;
    }
  }
}


