*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-image: linear-gradient(to right top, #051937, #00466e, #007aa0, #00b2c7, #12ebe1);
    color: #f0f8ff;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color:  #028c96;
}

.navigation-links{
    display: flex;
    position: relative;
    right: 80px;
    width: 450px;
    gap: 30px;
    justify-content: center;
    background-color: #028c96;
    border-radius: 20px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    padding: 5px 0px;
}

.navigation-links a{
    font-size: 18px;
    color: #f0f8ff;
    transition: 0.2s ease-in-out;
}
.navigation-links a:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #000000;
}

.hero-image-container {
    /* Define um tamanho maior que a imagem (que tem 200px) para o blob aparecer */
    width: 40%; 
    height: 420px;
    /* Configuração do Background */
    /* background-image: url('../assets/images/blob.svg');  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centraliza o container na tela (opcional, dependendo do layout pai) */
    margin: 0px 0px ; 
}

.foto-perfil{
    width: 500px;
    height: 500px;
    object-fit: cover; /* Garante que a foto não distorça */
    /* A mágica acontece aqui */
    -webkit-mask-image: url('../assets/images/blob.svg');  /* Para Chrome/Safari/Edge */
    mask-image: url('../assets/images/blob.svg');          /* Padrão */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain; /* Ajusta o SVG ao tamanho da img */
    mask-size: contain;
} 

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: auto;
}

.hero-text h1{
    font-size: 60px;
}

.div-h4{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    bottom: 80px;
    right: 35px;
     gap: 10px 0px;
    font-size: 18px;
    color: #000000;
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 40px;
    /* border-bottom: 2px solid #fff; */
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.div-h4 h4{
    width: 400px;
}

.ezequiascordeiro , .formação, #section-exp{
    border-right: 2px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    /* border-radius: 10px; */
    display: flex;
    gap: 0px 30px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.ezequiascordeiro p{
    text-align: justify;
}

.ezequiascordeiro h2, .formação h2, #section-exp h2{
    color: #028c96;
    writing-mode: vertical-rl; /* Define o fluxo na vertical (direita para esquerda) */
    text-orientation: upright; /* Mantém as letras em pé (não deitadas) */
    letter-spacing: 2px;       /* Opcional: Espaçamento entre as letras */
    text-align: center;        /* Centraliza o texto na coluna */
    text-transform: uppercase;
    font-size:25px; 
}

.class-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    color: #f0f8ff;
}

.class-formacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 30px;
    color: #000000;
    font-weight: 600;
}

.class-formacao p{
    width: 80%;
}

.div-cards{
    background-color:#fff;
    border-radius: 20px;
    padding: 0px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.div-cards h4{
    margin: 15px 0px;
}

#menu-principal a{
    font-weight: 700;
    font-size: 25px;
    margin-right: 50px;
     color: #028c96;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#menu-principal a:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 70%;
}

.btn-contato{
    border: 1px solid #028c96;
    background-color: #028c96;
    color: #f0f8ff;
    border-radius: 10px;
    padding: 10px;
    transition: color 0.2s ease-in-out;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.btn-contato:hover{
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    color: #028c96;

}

.hero-content{
    position: relative;
    bottom: 150px;
    display: flex;
}

.hero-content h2{
    display: flex;
    position: relative;
    bottom: 80px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 20px 150px;
    gap: 20px 0px;
}

/* Container para limitar o tamanho */
.ezequias-efeito {
  font-size: 60px;
  position: relative;
  width: 100%;
  bottom: 50px;
  right: 50px;
  max-width: 500px; /* Ajuste conforme o tamanho do seu texto */
  background-color:transparent; /* Fundo escuro destaca melhor */
}

svg {
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif; /* Fontes grossas funcionam melhor */
  font-weight: 900;
  text-transform: uppercase;
}

.snake-text {
  fill: #028c96;   /* O miolo da letra fica transparente */
  stroke: #f0f8ff;    /* A cor da cobrinha */
  stroke-width: 2px;   /* A grossura da cobrinha */
  /* A MÁGICA ACONTECE AQUI:
     O primeiro número (30) é o tamanho da "cobrinha".
     O segundo número (250) é o tamanho do espaço vazio entre uma cobra e outra.
     Aumente o segundo número se quiser que a cobra pareça "sozinha".
  */
  stroke-dasharray: 30 250;
  /* Animação */
  animation: snakeRun 8s linear infinite;
}

@keyframes snakeRun {
  /* Movemos a linha tracejada ao longo do caminho do texto */
  0% {
    stroke-dashoffset: 280; /* Começa antes */
  }
  100% {
    stroke-dashoffset: 0;   /* Termina o ciclo */
  }
}

main img{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
}

header li a{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

header {
    background-image: url('../assets/images/wavenavcorreto.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 105% auto;
    width: 100%;
    padding-bottom: 350px; 
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
}


/* O nav fica apenas com o layout flex, sem imagem de fundo */
nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 25px;
    align-items: center
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: blue;
}

#section-contato{
    border-left: 2px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    /* border-radius: 10px; */
    display: flex;
    gap: 0px 30px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.formulario-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.formulario-container h2{
    margin-right: 20px;
    width: 100px;
}

.formulario-container h3{
    width: 60%;
    position: relative;
    left: 125px; 
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.formulario-container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    width: 50%;
    background: #036a96;
    background: radial-gradient(circle,rgba(3, 106, 150, 1) 0%, rgba(1, 29, 61, 1) 100%);
    color: #000000;
    border-radius: 20px;
    /* border: 3px solid #f0f8ff; */
}

#section-contato h2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #028c96;
    writing-mode: vertical-rl; /* Define o fluxo na vertical (direita para esquerda) */
    text-orientation: upright; /* Mantém as letras em pé (não deitadas) */
    letter-spacing: 2px;       /* Opcional: Espaçamento entre as letras */
    text-align: center;        /* Centraliza o texto na coluna */
    text-transform: uppercase;
    font-size:25px; 
}

.form-global{
    height: 500px;
    gap: 15px 0px;
}

.form-group label{
    color: #f0f8ff;
    font-weight: 700;
    display: flex;
}

.form-group input{
    width:300px;
    padding: 5px 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 3px;
    color: #000000;
    border: none;
    background-color: #f0f8ff;
    border-bottom: 2px solid #ffffff;
}

.form-group input:focus{
    outline: none;
}

.form-group textarea{
    resize: none;              /* Trava o tamanho */
    width: 300px;               /* Opcional: ocupa a largura disponível */
    height: 120px;
    padding: 5px 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    color:#000;
    border: none;
    background-color: #ffffff;
}

.form-group textarea:focus{
    outline: none;             /* Remove o brilho padrão */
}

.btn-submit {
  font-size: 16px;
  font-weight: 600;
  background-color: #f3f7fe;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

footer{
    background-image: url(../assets/images/wave.svg);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
    background-repeat: no-repeat; 
    background-size: cover;    
    background-position: center; 
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 200px;
}

footer a{
    text-decoration: none;
}
.section-buttons{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

.section-buttons i, .social-list i {
    color: #000000;
    font-size: 22px;
    border: 1px solid #028c96;
    border-radius: 50%;
    
    /* Alterações para corrigir a borda: */
    width: 50px;            /* Define uma largura fixa */
    height: 50px;           /* Define uma altura igual à largura (cria o quadrado) */
    display: flex;          /* Habilita flexbox para centralizar o ícone */
    justify-content: center;/* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    padding: 0;             
}

.section-buttons a:hover i, 
.social-list a:hover i {
    color: #028c96;       
    background-color: #fff; 
    transition: 0.3s;     
}

.div-sociais-bottom{
    width: 50%;
}
.social-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.desenvolvidopor{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color:#028c96;
}

.desenvolvidopor a{
    text-decoration: none;  
    color: #f0f8ff;
}

.desenvolvidopor a:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 70%;
}

.btn-topo {
  position: fixed; /* Fixa o botão na tela */
  bottom: 20px;    /* Distância do rodapé da janela */
  right: 20px;     /* Distância da direita */
  z-index: 1000;   /* Garante que fique sobre outros elementos */
  
  background-color:  #028c96; /* Cor de fundo */
  color: white;           /* Cor da seta */
  border-radius: 50%;     /* Deixa redondinho */
  width: 50px;
  height: 50px;
  
  /* Centralizar o ícone */
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease; /* Animação suave no hover */
  
  /* Estado inicial: Escondido (opcional, veja o JS abaixo) */
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}

/* 3. Efeito Hover (passar o mouse) */
.btn-topo:hover {
  background-color:transparent;
  transform: translateY(-5px); /* Leve subida ao passar o mouse */
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
  color:  #028c96;
}

/* 4. Classe para mostrar o botão (ativada via JS) */
.btn-topo.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.btn-topo svg path{
    width: 5ph;
    height: 5px;
}