*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-image: linear-gradient(to right top, #051937, #00466e, #007aa0, #00b2c7, #12ebe1);
    color: #f0f8ff;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color:  #028c96;
}

.navigation-links{
    display: flex;
    position: relative;
    right: 80px;
    width: 50%;
    gap: 30px;
    justify-content: center;
}

.hero-image-container {
    /* Define um tamanho maior que a imagem (que tem 200px) para o blob aparecer */
    width: 40%; 
    height: 420px;
    /* Configuração do Background */
    background-image: url('../assets/images/blob.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Centraliza o container na tela (opcional, dependendo do layout pai) */
    margin: 0px 0px ; 
}

/* .foto-perfil{
    width: 300px;
    height: 300px;
} */

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: auto;
}

.hero-text h1{
    font-size: 60px;
}

.ezequiascordeiro , .formação, #section-exp{
    border-right: 2px solid #ffffff;
    padding: 20px;
    /* border-radius: 10px; */
    display: flex;
    gap: 0px 30px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.ezequiascordeiro p{
    text-align: justify;
}

.ezequiascordeiro h2, .formação h2, #section-exp h2{
    color: #028c96;
    writing-mode: vertical-rl; /* Define o fluxo na vertical (direita para esquerda) */
    text-orientation: upright; /* Mantém as letras em pé (não deitadas) */
    letter-spacing: 2px;       /* Opcional: Espaçamento entre as letras */
    text-align: center;        /* Centraliza o texto na coluna */
    text-transform: uppercase;
    font-size:25px; 
}

#menu-principal a{
    font-weight: 700;
    font-size: 25px;
    margin-right: 50px;
     color: #028c96;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#menu-principal a:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 70%;
}

.btn-contato{
    border: 1px solid #028c96;
    background-color: #028c96;
    color: #f0f8ff;
    border-radius: 10px;
    padding: 10px;
    transition: color 0.2s ease-in-out;
}

.btn-contato:hover{
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    color: #028c96;

}

.hero-content{
    position: relative;
    bottom: 150px;
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    margin: 20px 150px;
    gap: 20px 0px;
}

main img{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
}

header li a{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

header {
    background-image: url('../assets/images/wavenavcorreto.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 105% auto;
    width: 100%;
    padding-bottom: 350px; 
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
    
}


/* O nav fica apenas com o layout flex, sem imagem de fundo */
nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 25px;
    align-items: center
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: blue;
}

#section-contato{
    border-left: 2px solid #ffffff;
    padding: 20px;
    /* border-radius: 10px; */
    display: flex;
    gap: 0px 30px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.formulario-container{
    display: flex;
    width: 100%;
}

.formulario-container h2{
    margin-right: 20px;
    width: auto;
}

.formulario-container form{
    padding: 30px;
    width: 50%;
}

#section-contato h2{
    display: flex;
    align-items: flex-end;
    color: #028c96;
    writing-mode: vertical-rl; /* Define o fluxo na vertical (direita para esquerda) */
    text-orientation: upright; /* Mantém as letras em pé (não deitadas) */
    letter-spacing: 2px;       /* Opcional: Espaçamento entre as letras */
    text-align: center;        /* Centraliza o texto na coluna */
    text-transform: uppercase;
    font-size:25px; 
}

footer{
    background-image: url(../assets/images/wave.svg);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
    background-repeat: no-repeat; 
    background-size: cover;    
    background-position: center; 
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 200px;
}

footer a{
    text-decoration: none;
}
.section-buttons{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

.section-buttons i, .social-list i {
    color: #000000;
    font-size: 22px;
    border: 1px solid #028c96;
    border-radius: 50%;
    
    /* Alterações para corrigir a borda: */
    width: 50px;            /* Define uma largura fixa */
    height: 50px;           /* Define uma altura igual à largura (cria o quadrado) */
    display: flex;          /* Habilita flexbox para centralizar o ícone */
    justify-content: center;/* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    padding: 0;             
}

.section-buttons a:hover i, 
.social-list a:hover i {
    color: #028c96;       
    background-color: #fff; 
    transition: 0.3s;     
}

.div-sociais-bottom{
    width: 50%;
}
.social-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.desenvolvidopor{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color:#028c96;
}